{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "bat"
brew "exa"
brew "fzf"
brew "git"
brew "git-delta"
brew "glow"
brew "k9s"
brew "kubernetes-cli"
# brew "mas" 
brew "neovim"
brew "python@3.9"
brew "ripgrep"
brew "starship"
brew "tmux"
brew "zsh-completions"
brew "yq"

tap "homebrew/cask-fonts"

cask "1password-cli"
cask "docker"
cask "font-fira-code-nerd-font"
cask "iterm2"
cask "visual-studio-code"
EOF
{{ end -}}
