# ALIASES
[ -f .zsh/aliases.zsh ] && source .zsh/aliases.zsh

# COMPLETIONS
if type brew &>/dev/null; then
  FPATH=$(brew --prefix)/share/zsh-completions:$FPATH

  autoload -Uz compinit
  compinit
fi

# STARSHIP
eval "$(starship init zsh)"

# ENVIRONMENT VARIABLES
export EDITOR="nvim"
{{- if eq .chezmoi.os "darwin" }}
export HOMEBREW_NO_AUTO_UPDATE=1
{{- end }}

# HISTORY
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
