{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

{{ $brews := list
    "asdf"
    "bat"
    "civo"
    "curl"
    "exa"
    "flux"
    "fzf"
    "git"
    "git-delta"
    "glow"
    "helm"
    "jq"
    "k9s"
    "kubernetes-cli"
    "neovim"
    "ripgrep"
    "rsync"
    "sqlite"
    "starship"
    "terraform"
    "tmux"
    "zsh-completions"
    "yq" -}}
{{ $casks := list
    "1password-cli"
    "docker"
    "fig"
    "font-fira-code-nerd-font"
    "google-chrome"
    "iterm2"
    "slack"
    "telegram"
    "visual-studio-code"
    "whatsapp" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
tap "homebrew/cask-fonts"
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
{{ end -}}

# Load iTerm2 configuration
defaults write com.googlecode.iterm2.plist PrefsCustomFolder -string "~/.config/iterm2"
defaults write com.googlecode.iterm2.plist LoadPrefsFromCustomFolder -bool true
{{ end -}}
