{{ $item := onepassword "k8s-k3s-ninthfloor" -}}
{{ $secrets := index $item.details.sections 1 -}}
{{ $certificateAuthorityData := (index $secrets.fields 0).v -}}
{{ $clientCertificateData := (index $secrets.fields 1).v -}}
{{ $clientKeyData := (index $secrets.fields 2).v -}}
{{ $config := index $item.details.sections 2 -}}
{{ $clusterName := (index $config.fields 0).v -}}
{{ $userName := (index $config.fields 1).v -}}
{{ $serverAddress := (index $config.fields 2).v -}}
apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ $certificateAuthorityData }}
    server: {{ $serverAddress }}
  name: {{ $clusterName }}
contexts:
- context:
    cluster: {{ $clusterName }}
    user: {{ $userName }}
  name: {{ $clusterName }}
current-context: {{ $clusterName }}
kind: Config
preferences: {}
users:
- name: {{ $userName }}
  user:
    client-certificate-data: {{ $clientCertificateData }}
    client-key-data: {{ $clientKeyData }}

