{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "neovim"
brew "yq"
brew "bat"
brew "exa"
brew "git"
brew "k9s"
brew "kubernetes-cli"
EOF
{{ end -}}
