{{- $item := onepassword "terraform" -}}
{{- $secrets := index $item.details.sections 4 -}}
{{- $token := (index $secrets.fields 0).v -}}
{
  "credentials": {
    "app.terraform.io": {
      "token": "{{ $token }}"
    }
  }
}
